<div *ngIf=securityLevel>
<p>role-function-edit works!</p>

<table class="table table-bordered" [hidden]="showRoleTable">
  <thead>
      <tr>
          <th>RoleID</th>
          <th>角色名稱</th>
          <th>敘述</th>
          <th>功能</th>
      </tr>
  </thead>
  <tbody *ngFor="let item of roleVO;index as i">
          <tr>
              <td>{{item.RoleID}}</td>
              <td>{{item.RoleName}}</td>
              <td>{{item.Description}}</td>
              <td>
                <span *ngIf="roleEditBtn">
                  <button class="btn btn-primary mx-2" (click)="EditRole(item.RoleID)" >編輯</button>
                </span>
              </td>
          </tr>
  </tbody>
</table>
<section id="pager">
  <app-paginator #roleFunctionEditPaginator [gridDataPage]="roleVOGridDataPage" [hidden]="showRoleTable"
    (pageChanged)="onPageChanged($event)">
  </app-paginator>
</section>

<div><label>{{showRoleID}}</label></div>

<table class="table table-bordered" [hidden]="!showRoleTable">
  <thead>
      <tr>
          <th>Check</th>
          <th>FunctionID</th>
          <th>Url</th>
          <th>Description</th>
      </tr>
  </thead>
  <tbody *ngFor="let itemData of functionCheckVO;">
    <tr>
      <td><input type="checkbox" [(ngModel)]="itemData.Check"/></td>
      <td>{{itemData.FunctionID}}</td>
      <td>{{itemData.Url}}</td>
      <td>{{itemData.Description}}</td>
    </tr>
  </tbody>
</table>
<section id="pager">
  <app-paginator #functionCheckPaginator [gridDataPage]="functionCheckVOGridDataPage"  [hidden]="!showRoleTable"
    (pageChanged)="onFunctionCheckPageChanged($event)">
  </app-paginator>
</section>

<div *ngIf="roleFunctionEditBtn">
  <button class="btn btn-primary" [hidden]="!showRoleTable" (click)="SaveSetting()">儲存設定</button>
</div>

</div>
